@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-1 text-yellow font-motiro2023 mb-4">Country Rock, Comida boa e Cerveja gelada</h1>
</div>

<div class="text-center">
    <p class="mb-3 text-light font-motiro2023 d-none d-sm-inline" style="font-size: 24px">Sejam bem-vindos ao <b>Motirô Cultural</b>, novidades estão chegando. Enquanto isso, de uma olhada na edição passada <a asp-controller="Motiro2022" asp-action="Index" style="font-family:sans-serif; color:orange;">Motirô 2022</a>.</p>
    <p class="mb-3 text-light font-motiro2023 d-sm-none">Sejam bem-vindos ao <b>Motirô Cultural</b>, novidades estão chegando. Enquanto isso, de uma olhada na edição passada <a asp-controller="Motiro2022" asp-action="Index" style="font-family:sans-serif; color:orange;">Motirô 2022</a>.</p>
</div>


<img src="~/images/2023/embreve.png" alt="Em Breve" class="img-fluid" />

