@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-1 text-yellow">Country Rock, Motocicletas, Comida boa e Cerveja</h1>
</div>

<img src="~/images/2023/embreve.png" alt="Em Breve" />