@model IEnumerable<Colaborador>

@{
    ViewData["Title"] = "Quem Somos";
}


<div class="text-center backcolor mb-3 pb-3">
    <h3 class="display-3 text-yellow font-motiro2023 mb-4">A Trupe Reversa</h3>
    <p class="text-light">A Equipe é formada, atualmente, por 11 integrantes, na faixa etária dos seus vinte e tantos anos, cujas formações acadêmicas são as mais variadas, os quais sempre sentiram falta de diversidade cultural na região, principalmente quanto ao Rock in Roll, sendo assim, juntaram essa necessidade individual e se uniram para atender à coletividade, onde cada um, a sua maneira desempenha um papel fundamental desde o início, para que este projeto pudesse ser um sucesso.</p>
    <p class="text-light">A criação do grupo Trupe Reversa tem em sua síntese o desejo pela transformação através da mobilização das ideias pautadas em respeito, diálogo e uma boa cervejinha.</p>
    <p class="text-light">O grupo trabalha de maneira voluntária, não recebendo qualquer benefício monetário, mas sim, recebendo a satisfação de ver o sorriso estampado no rosto desde a criança até o mais velho, ao viver ou relembrar momentos que com certeza permanecerão em suas memórias.</p>
    <p class="fw-bold text-light mb-4">Porquê Trupe Reversa?</p>
    <p class="text-light">A palavra Trupe significa pessoas que atuam em conjunto e Reversa significa que voltou ao início, ao ponto de partida, ao aspecto original. E realmente é este o objetivo, pessoas unidas para resgatar culturas, trazer novamente a alegria a uma geração que viveu o Rock e para a geração onde este estilo, aqui na região, se encontra deixado um pouco de lado.</p>
</div>

<div class="text-center backcolor">
    <h3 class="display-3 text-yellow font-motiro2023 mb-4">Integrantes</h3>

    <div class="row">
        @foreach (var colaborador in Model)
        {
            <div class="col-md-4 mb-5">
                <span class="d-inline-flex">
                    <i class="bi bi-star-fill text-yellow" style="font-size: 27px;"></i>
                    <i class="bi bi-star-fill" style="color:lightgray; font-size: 27px;"></i>
                </span><br />
                <img class="mb-2 mt-2" src="@colaborador.ImagePatch" height="160" style="border-radius: 15em;" /><br>
                <span class="text-light fw-bold" style="font-size: 20px;">@colaborador.Nome @colaborador.Sobrenome</span>
            </div>
         }
    </div>
</div>