html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-grey {
  background-color: grey;
}

.bg-site {
    /*background: repeat;*/
    background-image: url('../images/textura-fundo.jpg');
    background-size: contain;
}

@font-face{
    font-family: 'Motiro2022';
    src: url('../fonts/KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motiro2023';
    src: url('../fonts/Candrika.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.text-yellow{
    color: yellow;
}

.font-teste{
    color: grey;
}

.font-motiro2022{
    font-family: 'Motiro2022', 'Times New Roman', 'Sans Serif Collection';
}

.font-motiro2023 {
    font-family: 'Motiro2023', 'Times New Roman', 'Sans Serif Collection';
}

.grid-persons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}