html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../images/backgrounds/deserto.svg');
    background-size: cover;
    margin-bottom: 60px;
    background-position: center;
}

.bg-grey {
  background-color: grey;
}

@font-face{
    font-family: 'Motiro2022';
    src: url('../fonts/KeeponTruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motiro2023';
    src: url('../fonts/Candrika.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.backcolor {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 4%;
    
}

.text-yellow{
    color: yellow;
}

.font-teste{
    color: grey;
}

.font-motiro2022{
    font-family: 'Motiro2022', 'Times New Roman', 'Sans Serif Collection';
}

.font-motiro2023 {
    font-family: 'Motiro2023', 'Times New Roman', 'Sans Serif Collection';
}

@media (min-width: 600px) {
    #imgembreve{
        display: block;
        margin: 2px auto;
        width: 30%;
    }
}

@media (max-width: 600px) {
    .font-motiro2023-responsiva {
        font-size: 19px;
    }
}

@media (min-width: 600px) {
    .font-motiro2023-responsiva {
        font-size: 24px;
    }
}


