@{
    ViewData["Title"] = "Motirô 2022";
}

@*Texto 01*@
<div class="text-center">
    <h1 class="display-2 text-yellow font-motiro2022">Rock and Roll, Cultura e Diversidade</h1>
    <hr />

    <h2 class="display-6 text-yellow"><b>Conheça o Motirô Cultural</b></h2>
    <p class="text-light">Criado em 2022, o Motirô Cultural foi idealizado por 11 jovens intitulados <b>Trupe Reversa</b>, que em busca de cultura e com sede de Rock and Roll, tomaram a decisão de agir para realizar um evento que busca incentivar a cultura, diversidade e o bom e velho som das guitarras estridentes e batidas eletrizantes no município de Jaboti-Pr.</p>
</div>

@*Carousel 01*@
<div id="carouselPrincipal" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPrincipal" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Pessoas01.jpg" class="d-block w-100" alt="Pessoas Motirô 2022">
            <div class="carousel-caption d-none d-md-block">
                <h5>Motirô 2022</h5>
                <p>Festividade para toda a familia</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/Banda news Pessoas.jpg" class="d-block w-100" alt="Banda News">
            <div class="carousel-caption d-none d-md-block">
                <h5>Clima de Festa</h5>
                <p>Muita festividade em um local com muita decoração e alto astral</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/pessoas02.jpg" class="d-block w-100" alt="Banda Volks">
            <div class="carousel-caption d-none d-md-block">
                <h5>Confraternização</h5>
                <p>Onde os amantes do Rock and Roll, arte, motocicletas e músicas se encontram</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPrincipal" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@*Texto 02*@
<div class="text-center mt-3">
    <h2 class="display-6 text-yellow"><b>Shows ao vivo, gastronomia e exposições</b></h2>
    <p class="text-light">O evento de 2022 contou com a presença de Foodtrucks, shows ao vivo, exposições além de muita arte e decorações. Durante o evento, foram recolhidos alimentos não perecíveis que foram destinados à doação.</p>
</div>

@*Carousel 02*@
<div id="carousel02" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel02" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel02" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel02" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Banda Volks.jpg" class="d-block w-100" alt="Banda Volkds">
            <div class="carousel-caption d-none d-md-block">
                <h5>Banda Volks</h5>
                <p>Muito rock nacional dos anos 90</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/vocalista banda volks.jpg" class="d-block w-100" alt="Banda News">
            <div class="carousel-caption d-none d-md-block">
                <h5>Musica contagiante</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/mc barker motiro 2022.jpg" class="d-block w-100" alt="Banda Volks">
            <div class="carousel-caption d-none d-md-block">
                <h5>MC Barker</h5>
                <p>Classic Rock and Roll</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel02" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel02" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>